@charset "UTF-8";

*{
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0; 
}

html, body {background: #fff}

a:link, a:visited, a:active{
  color: #424242;
}


h1, h2, h3, .nav-main, footer {
  font-family: "Quicksand", Arial, Sans-serif; 
}

.nav-main{
  margin-bottom: 25px;
}

.nav-main ul{
  margin: 1.5em 0 0 0;
  padding: 0;
  text-align: center;
}

.nav-main li{
  display: inline-block;
  text-align: center;
  padding: 0 10px;
}

.nav-main li a{
  text-decoration: none;
  display: inline-block;
  padding: 5px 0px 6px;
  color: #424242;
}

.nav-main li.selected a{
  border-bottom: 2px solid rgba(144, 122, 144, 0.4);
}

h1{
  display: none;
}

.h2 {
  font-size: 17px;
  padding: 4px 10px;
  display: block;
  font-weight: 300;
  line-height: 1.2;
  display: inline-block; }

p{
  font-size: 2em;
  font-weight: 100;
}

span.overlay{
  position: absolute;
  top: 0;
  background: rgba(144, 122, 144, 0.75);
  height: 300px;
}

.homeshow{
  padding-bottom: 10em;
}

.homeshow > ul{
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 400px;
  flex: 1 1 400px;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: top;
  align-items: top;
  -ms-flex-pack: center;
  justify-content: center;
}

.homeshow ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.homeshow li{
  position: relative;
  padding: 0.2em;
}

.homeshow li .img{
  width: 100%;
  cursor: pointer;
}

.homeshow li .img p{
  color: #424242;
  font-size: 0.75em;
  margin: 6px 0 0 10px;
}

.homeshow li .img p em{
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
}

.homeshow li .img img{
  width: 100%;
  border: 0px;
  border-radius: 2px;
  display: inherit;
  transition: 0.3s all;
}

.homeshow li:hover img{
  border-color: rgba(255,255,255,0.9) !important;
}

#left, #right{
  position: absolute;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: 1px solid rgba(255,255,255,0.1);
  pointer-events: auto;
  cursor: pointer;
  top: 50%;
  margin-top: -1.5em;
  transition: all 0.3s;
}

#left:hover,#right:hover{
  background: rgba(0,0,0,0.1)
}

#left.pulseOnce,#right.pulseOnce{
  animation: pulseOnce 0.2s ease-in-out 1 forwards;
}

#left{
  left: 1%;
}

#left:before{
  content: '';
  display: block;
  border-bottom: 0.1em solid #222;
  border-left: 0.1em solid #222;
  transform: rotate(45deg);
  position: absolute;
  width: 40%;
  height: 40%;
  top: 0.85em;
  left: 1.1em;
}

#right{
  right: 1%;
}

#right:before{
  content: '';
  display: block;
  border-top: 0.1em solid #222;
  border-right: 0.1em solid #222;
  transform: rotate(45deg);
  position: absolute;
  width: 40%;
  height: 40%;
  top: 0.85em;
  left: 0.6em;
}

.modalbg{
  background: #fff; 
  opacity: 0;
  z-index: 998;
  transition: 0.6s;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.modalbg.in{
  opacity: 0.97;
  pointer-events: auto;
}

.cloned{
  opacity: 0;
  position: fixed;
  top: 0;
  height: 86%;
  transition: 0.4s opacity, 0.4s transform;
  transform: scale(1.1);
  z-index: 999;
  pointer-events: none;
  width: 100%;
  text-align: center;
  padding: 3em;
}

.cloned.in{
  opacity: 1;
  transform: scale(1);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.cloned.in img{
  box-shadow: 0 0 4px #ccc;
}

.cloned.out{
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
}

.cloned img{
  max-height: 100%;
  max-width: 89vw;
  transition: 0.14s all;
}

.cloned img.out{
  opacity: 0;
  transform: scale(0.9);
}

.cloned img::-moz-selection {
  color: transparent
}

.cloned img::selection {
  color: transparent;
}

.cloned img.left{
  transform: translateX(-10px) !important;
}

#viewing-area{
  text-align: center;
}

.copy-first{
  display: block;
  margin-top: 1em; 
  margin-bottom: 2em;
  text-align: center;
}

.afters{
  background: #424242 url(/images/material.png) repeat;
  padding-top: 0;

}

.afters .homeshow{
  width: 1150px;
  margin: auto;
}

.afters .homeshow li .img img{
  border-color: rgba(255,255,255,0.1);
}

.afters .homeshow li .img p{
  color: rgba(255,255,255,0.9);
}

.afters a{
  color: rgba(255,255,255,0.5);
}

footer{
  margin: auto;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}

footer p{
  font-size: 0.86em ;
  text-transform: uppercase;
  color: rgba(2,2,2,0.5);
}

/**
 * Image replacements.
 *
 */
.container {
  position: relative; }

.content-main{
  padding-top: 46px;
}

.grandcontainer {
  width: 100%;
  margin: auto;
  max-width: 90em;
}

.logo {
  display: block;
  overflow: hidden;
  position: relative;
  text-indent: -999px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto 0 auto;
  transition: 0.3s all;
  padding-bottom: 30px;
}

.logo svg{
  width: 266px;
  margin: auto auto;
  display: block;
}

.logo svg path{
  fill: #424242;
}

li.group h2{
  color: #424242;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0; left: 0;
  border-top: 1px solid #efefef;
  display: block;
  width: 100%;
  padding: 5px 0 2px 5px;
  margin: 0;
}

li.group{
  position: relative;
  width: 380px;
  overflow: hidden;
  margin-bottom: 1.2em;
  margin: 1em;
  vertical-align: top;
  padding-top: 2.2em
}

li.group li{
  position: absolute;
  left: 0; top:0;
  opacity: 0;
  pointer-events: none;
}

li.group li:first-child{
  opacity: 1;
  pointer-events: all;
  padding: 0;
  position: static;
}

@keyframes pulseOnce {
  0%   { background: transparent; transform: scale(1);}
  20%   { background: rgba(255,255,255,0.15); transform: scale(0.9);}
  100% { background: transparent; transform: scale(1);}
}
